<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.usepace.android.messagingcenter">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ChatTheme">

        <activity android:name=".screens.sendbird.SendBirdChatActivity"
            android:configChanges="screenSize|keyboardHidden|screenLayout"
            android:exported="true"
            />

        <activity
            android:name=".screens.photoviewer.PhotoViewerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="true" />

        <activity
            android:name=".screens.mediaplayer.MediaPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:exported="true" />

    </application>

</manifest>